<!DOCTYPE html>
<html>
{% extends 'polls/header_and_footer.html' %}
<!-- 
{% block style %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
	<script src="https://masonry.desandro.com/masonry.pkgd.js"></script>
{% endblock %} -->


<body>

{% block content %}
 
<h1 class="center">
	{% block cont %}
	
	{% endblock %}
</h1>
<div class="containers s">
	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/1/01_ZOE_FIX.jpg" data-fancybox="images0" data-type="image" >
		        <img src="../../static/img/интерьеры про/1/01_ZOE_FIX.jpg" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/1/02_OWI.jpg" data-fancybox="images0">
		  <img src="../../static/img/интерьеры про/1/02_OWI.jpg" />
		</a>

		<a href="../../static/img/интерьеры про/1/03_AMONA.jpg" data-fancybox="images0">
		  <img src="../../static/img/интерьеры про/1/03_AMONA.jpg" />
		</a>

		<a href="../../static/img/интерьеры про/1/04_AMONA_BLACK.jpg" data-fancybox="images0" data-type="image">
		    <img src="../../static/img/интерьеры про/1/04_AMONA_BLACK.jpg" />
		</a>

		<a href="../../static/img/интерьеры про/1/06_UZO.jpg" data-fancybox="images0" data-type="image">
		    <img src="../../static/img/интерьеры про/1/06_UZO.jpg" />
		</a>
	</div>

	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/10/кухня.png" data-fancybox="images1" data-type="image">
		      <img src="../../static/img/интерьеры про/10/кухня.png" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/10/кухня2_2.png" data-fancybox="images1">
		  <img src="../../static/img/интерьеры про/10/кухня2_2.png" >
		</a>

		<a href="../../static/img/интерьеры про/10/кухня_эклептика.png" data-fancybox="images1">
		  <img src="../../static/img/интерьеры про/10/кухня_эклептика.png" >
		</a>

		<a href="../../static/img/интерьеры про/10/кухня_эклептика_2.png" data-fancybox="images1">
		  <img src="../../static/img/интерьеры про/10/кухня_эклептика_2.png" >
		</a>
	</div>

	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/11/1.jpg" data-fancybox="images2">
		      <img src="../../static/img/интерьеры про/11/1.jpg" class="photobox__preview" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/11/2.jpg" data-fancybox="images2" >
		  <img src="../../static/img/интерьеры про/11/2.jpg" />
		</a>

		<a href="../../static/img/интерьеры про/11/10.jpg" data-fancybox="images2">
		  <img src="../../static/img/интерьеры про/11/10.jpg">
		</a>

		<a href="../../static/img/интерьеры про/11/4.jpg" data-fancybox="images2">
		  <img src="../../static/img/интерьеры про/11/4.jpg">
		</a>

		<a href="../../static/img/интерьеры про/11/5.jpg" data-fancybox="images2">
		  <img src="../../static/img/интерьеры про/11/5.jpg">
		</a>

		<a href="../../static/img/интерьеры про/11/6.jpg" data-fancybox="images2">
		  <img src="../../static/img/интерьеры про/11/6.jpg">
		</a>

		<a href="../../static/img/интерьеры про/11/7.jpg" data-fancybox="images2">
		  <img src="../../static/img/интерьеры про/11/7.jpg">
		</a>

		<a href="../../static/img/интерьеры про/11/8.jpg" data-fancybox="images2">
		  <img src="../../static/img/интерьеры про/11/8.jpg">
		</a>

		<a href="../../static/img/интерьеры про/11/9.jpg" data-fancybox="images2">
		  <img src="../../static/img/интерьеры про/11/9.jpg">
		</a>
	</div>

	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/12/с1.jpg" data-fancybox="images3" data-type="image">
		      <img src="../../static/img/интерьеры про/12/с1.jpg" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/12/с2.jpg" data-fancybox="images3">
		  <img src="../../static/img/интерьеры про/12/с2.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/12/с3.jpg" data-fancybox="images3">
		  <img src="../../static/img/интерьеры про/12/с3.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/12/с4.jpg" data-fancybox="images3">
		  <img src="../../static/img/интерьеры про/12/с4.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/12/с5.jpg" data-fancybox="images3">
		  <img src="../../static/img/интерьеры про/12/с5.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/12/с6.jpg" data-fancybox="images3">
		  <img src="../../static/img/интерьеры про/12/с6.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/12/с7.jpg" data-fancybox="images3">
		  <img src="../../static/img/интерьеры про/12/с7.jpg" >
		</a>
	</div>

	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/13/3а.jpg" data-fancybox="images4" data-type="image">
		      <img src="../../static/img/интерьеры про/13/3а.jpg" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/13/м1.jpg" data-fancybox="images4">
		  <img src="../../static/img/интерьеры про/13/м1.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/13/м2.jpg" data-fancybox="images4">
		  <img src="../../static/img/интерьеры про/13/м2.jpg" >
		</a>
	</div>

	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/14/о1.jpg" data-fancybox="images5" data-type="image">
		      <img src="../../static/img/интерьеры про/14/о1.jpg" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/14/о2.jpg" data-fancybox="images5">
		  <img src="../../static/img/интерьеры про/14/о2.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/14/о3.jpg" data-fancybox="images5">
		  <img src="../../static/img/интерьеры про/14/о3.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/14/о4.jpg" data-fancybox="images5">
		  <img src="../../static/img/интерьеры про/14/о4.jpg" >
		</a>
	</div>

	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/15/1спальня.jpg" data-fancybox="images6" data-type="image">
		      <img src="../../static/img/интерьеры про/15/1спальня.jpg" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/15/2г.jpg" data-fancybox="images6">
		  <img src="../../static/img/интерьеры про/15/2г.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/15/2дневное.jpg" data-fancybox="images6">
		  <img src="../../static/img/интерьеры про/15/2дневное.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/15/5ночное.jpg" data-fancybox="images6">
		  <img src="../../static/img/интерьеры про/15/5ночное.jpg" >
		</a>
	</div>

	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/16/Kitchen-Living Final-1.jpg" data-fancybox="images7" data-type="image">
		      <img src="../../static/img/интерьеры про/16/Kitchen-Living Final-1.jpg" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/16/Kitchen-Living Final-2.jpg" data-fancybox="images7">
		  <img src="../../static/img/интерьеры про/16/Kitchen-Living Final-2.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/16/Kitchen-Living Final-3.jpg" data-fancybox="images7">
		  <img src="../../static/img/интерьеры про/16/Kitchen-Living Final-3.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/16/Kitchen-Living Final-4.jpg" data-fancybox="images7">
		  <img src="../../static/img/интерьеры про/16/Kitchen-Living Final-4.jpg" >
		</a>
	</div>

	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/2/2г.jpg" data-fancybox="images8" data-type="image">
		      <img src="../../static/img/интерьеры про/2/2г.jpg" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/2/2дневное.jpg" data-fancybox="images8">
		  <img src="../../static/img/интерьеры про/2/2дневное.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/2/коридор дневное освещение1.jpg" data-fancybox="images8">
		  <img src="../../static/img/интерьеры про/2/коридор дневное освещение1.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/2/коридор ночное освещение1.jpg" data-fancybox="images8">
		  <img src="../../static/img/интерьеры про/2/коридор ночное освещение1.jpg" >
		</a>
	</div>

	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/3/bedroom-1-Final.jpg" data-fancybox="images9" data-type="image">
		      <img src="../../static/img/интерьеры про/3/bedroom-1-Final.jpg" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/3/bedroom-2-Final.jpg" data-fancybox="images9">
		  <img src="../../static/img/интерьеры про/3/bedroom-2-Final.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/3/kitchen 1-Final-anna.jpg" data-fancybox="images9">
		  <img src="../../static/img/интерьеры про/3/kitchen 1-Final-anna.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/3/kitchen 2-Final-anna.jpg" data-fancybox="images9">
		  <img src="../../static/img/интерьеры про/3/kitchen 2-Final-anna.jpg" >
		</a>
	</div>


	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/4/3ракурс.jpg" data-fancybox="images10" data-type="image">
		      <img src="../../static/img/интерьеры про/4/3ракурс.jpg" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/4/финалка 2 ракурс.jpg" data-fancybox="images10">
		  <img src="../../static/img/интерьеры про/4/финалка 2 ракурс.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/4/финалка2.jpg" data-fancybox="images10">
		  <img src="../../static/img/интерьеры про/4/финалка2.jpg" >
		</a>
	</div>

	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/5/Child_14_01.jpg" data-fancybox="images11" data-type="image">
		      <img src="../../static/img/интерьеры про/5/Child_14_01.jpg" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/5/Child_14_02.jpg" data-fancybox="images11">
		  <img src="../../static/img/интерьеры про/5/Child_14_02.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/5/Child_14_04.jpg" data-fancybox="images11">
		  <img src="../../static/img/интерьеры про/5/Child_14_04.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/5/Lodzh_01.jpg" data-fancybox="images11">
		  <img src="../../static/img/интерьеры про/5/Lodzh_01.jpg" >
		</a>
	</div>

	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/6/Dudergof_kuh-gost_01.jpg" data-fancybox="images12" data-type="image">
		      <img src="../../static/img/интерьеры про/6/Dudergof_kuh-gost_01.jpg" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/6/Dudergof_kuh-gost_05.jpg" data-fancybox="images12">
		  <img src="../../static/img/интерьеры про/6/Dudergof_kuh-gost_05.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/6/Dudergof_kuh-gost_08.jpg" data-fancybox="images12">
		  <img src="../../static/img/интерьеры про/6/Dudergof_kuh-gost_08.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/6/Dudergof_kuh-gost_10.jpg" data-fancybox="images12">
		  <img src="../../static/img/интерьеры про/6/Dudergof_kuh-gost_10.jpg" >
		</a>
	</div>


	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/7/1-LH-010000.jpg" data-fancybox="images13" data-type="image">
		      <img src="../../static/img/интерьеры про/7/1-LH-010000.jpg" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/7/1-LH-03.jpg" data-fancybox="images13">
		  <img src="../../static/img/интерьеры про/7/1-LH-03.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/7/1-LH-04.jpg" data-fancybox="images13">
		  <img src="../../static/img/интерьеры про/7/1-LH-04.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/7/1-LH-05.jpg" data-fancybox="images13">
		  <img src="../../static/img/интерьеры про/7/1-LH-05.jpg" >
		</a>
	</div>

	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/8/10.jpg" data-fancybox="images14" data-type="image">
		      <img src="../../static/img/интерьеры про/8/10.jpg" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/8/11.jpg" data-fancybox="images14">
		  <img src="../../static/img/интерьеры про/8/11.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/8/12.jpg" data-fancybox="images14">
		  <img src="../../static/img/интерьеры про/8/12.jpg" >
		</a>

		<a href="../../static/img/интерьеры про/8/4.jpg" data-fancybox="images14">
		  <img src="../../static/img/интерьеры про/8/4.jpg" >
		</a>
	</div>

	<div class="imgList item">
		<div class="photobox_type10">
		  <div class="photobox__previewbox">
		    <a href="../../static/img/интерьеры про/9/2_1_4.tif" data-fancybox="images15" data-type="image">
		      <img src="../../static/img/интерьеры про/9/2_1_4.tif" style="display: block;">
		    </a>
		    <span class="photobox__label">View More</span>
		  </div>
		</div>

		<a href="../../static/img/интерьеры про/9/2_2_1.tif" data-fancybox="images15">
		  <img src="../../static/img/интерьеры про/9/2_2_1.tif" >
		</a>

		<a href="../../static/img/интерьеры про/9/3_1_1.tif" data-fancybox="images15">
		  <img src="../../static/img/интерьеры про/9/3_1_1.tif" >
		</a>

		<a href="../../static/img/интерьеры про/9/3_2_1.tif" data-fancybox="images15">
		  <img src="../../static/img/интерьеры про/9/3_2_1.tif" >
		</a>
	</div>
</div>

<script type="text/javascript">

$(document).ready(function ($) {
  

	// let container = $('.containers')

	// $('.containers').imagesloaded(function(){
	// 	$('.containers').masonry({
			// itemSelector: '.item',
			// columnWidth: ".item",
			// percentPosition: true,
	// 	}); 
	// });

	let container = $('.containers').masonry({
		itemSelector: '.item',
		columnWidth: ".item",
		percentPosition: true,
	});

	container.imagesLoaded().progress(function() {
		container.masonry( 'layout' );
	}); 


	let projects = $('.imgList');

	for (var num = 0; num < projects.length; num++) {
	  $('[data-fancybox="images' + num + '"]').fancybox({
	    loop    : true,
	    // margin  : [44,0,22,0],
	    thumbs : {
	      autoStart : true,
	      axis : 'x'
	    }
	  })
	}

	$('.item').click(function() {
		$(this).children().children().children().children().trigger('click');
	})







});







</script>

{% endblock %}

</body>
</html>